################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CoffeeMachine
/CoffeeMachine/bin/Debug/netcoreapp3.1
/CoffeeMachine/obj
